
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
h2 {
    margin: 0px;
}

p {
    margin: 0px;
}
div {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "Roboto", Times, serif;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-top: 10px;
}
    
}

#top {
    background-color: #1F2937;
    color:white;
}

#head {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 100px 0px;
}

#head-links {
    flex: 1;
    flex-direction: row;
    justify-content: right;
    padding: 0px;
}

#head-links a {
    padding: 0px 25px;
    color:white;
    font-size: 18px;
}

#head h2 {
    margin: 0;
}
#title {
    flex: 1;
    display: flexbox;
    flex-direction: row;
    padding: 0px;

}

#title-words {
    flex: 1;
    flex-direction: column;
    padding: 0px;

}
#title-words h1 {
    font-size: 48px;
    font-weight: bold;
    flex: 1;
    margin: 0px;
    
}

#title-words p {
    font-size: 18px;
    flex: 1;
    margin: 0px;
}

#button-container {
    flex: 1;
    padding: 0px;
}

button {
    font-size: 24px;
    font-weight: bold;
    background-color: #3882F6;
    color:white;
    justify-content: left;
    border-radius: 12px;
    padding: 10px 0px;
    width: 150px;
    height: 50px;
}

#img-placeholder {
    flex: 1;
    margin-left: 50px;
}

#middle-one {
    align-items: center;
    flex: 1;
}

#middle-one h2 {

    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#middle-one #info-bar {
    display: flexbox;
    flex-direction: row;
    padding: 0px;
    flex: 1;
}

.info-item {
    padding: 0px;
    width:250px ;
    height:250px;
    margin: 0px 25px;
}

#middle-two {
    background-color: #E5E7EB;
    padding: 100px 300px
}

#middle-two #quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

#middle-two #author {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

#bottom {
    padding-bottom: 0px;
}

#bottom-banner {
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 300px;
    margin: 100px;
}

#banner-text {
    padding: 0px;
    justify-content: center;
    align-content: center;
    color: white;
    
}
#bottom-banner button {
    border-color: white;
}
#footer {
    background-color:  #1F2937;;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
}